[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
aiohttp = "==2.2.5"
"discord.py" = {git = "https://github.com/rapptz/discord.py", ref = "rewrite"}
scrapy = "==1.4.0"
numpy = "==1.13.1"

[dev-packages]
pylint = "*"

